<!DOCTYPE html>
<head>
    <title>All Customer</title>
</head>
<body>
<h2 style="text-align: center;">Customer list</h2>
  <div class="centered">
    <table border="1">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone Number</th>
        </tr>
            {% for customer in customers %}
                <tr>
                    <td> {{ customer.first_name }} </td>
                    <td> {{ customer.last_name }} </td>
                    <td> {{ customer.phone }} </td>
                </tr>
            {% endfor %}
    </table>
  </div>
</body>
