<!DOCTYPE html>
<head>
    <title>Order {{ order.id }}</title>
    <style>
        body {
            font-size: 20px;
            line-height: 0.5;
        }
        ul li {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1> Order id: {{ order.id }} | Table : {{ order.table.id }}</h1>
    <p> Name of customer is {{ order.customer.first_name }} with {{ order.number_of_customers }} customers </p>
    <p> Total = {{ order.total_sum }}</p>
    <p> {{ order.payment_method.payment_type }}</p>
    <p><b> Event duration:</b> {{ order.event_started }} - {{ order.event_ended }}</p>
    <h2>Order Items</h2>
    <ul>
        {% for item in order.items_list %}
            <li>{{ item.name }} - Quantity: {{ item.quantity }}</li>
        {% endfor %}
    </ul>

    <h2>Order Waiters</h2>
    <ul>
        {% for waiter in order.waiters_list %}
            <li>{{ waiter.first_name }} {{ waiter.last_name }}</li>
        {% endfor %}
    </ul>
</body>