<!DOCTYPE html>
<head>
    <title>All Orders</title>
</head>
<body>
<h2 style="text-align: center;">Order list</h2>
  <div class="centered">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Table</th>
            <th>Customer name</th>
            <th>Number of customers</th>
            <th>Total sum</th>
            <th>Start time</th>
            <th>Payment method</th>
            <th>End time</th>
            <th>Waiters</th>
            <th>Items</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.table.id }}</td>
                <td>{{ order.customer.first_name }}</td>
                <td>{{ order.number_of_customers }}</td>
                <td>{{ order.total_sum }}</td>
                <td>{{ order.event_started }}</td>
                <td>{{ order.payment_method.payment_type }}</td>
                <td>{{ order.event_ended }}</td>
                <td>
                    {% for waiter in order.waiters_list %}
                        {{ waiter.first_name }} {{ waiter.last_name }}<br>
                    {% endfor %}
                </td>
                <td>
                        {% for item in order.items_list %}
                            {{ item.name }} {{ item.price }} {{ item.quantity }}<br>
                        {% endfor %}
                    </td>
            </tr>
        {% endfor %}
    </table>
  </div>
</body>