<!DOCTYPE html>
<head>
    <title>All Waiters</title>
</head>
<body>
<h2 style="text-align: center;">Waiter list</h2>
  <div class="centered">
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone Number</th>
        </tr>
            {% for waiter in waiters %}
                <tr>
                    <td> {{ waiter.id }} </td>
                    <td> {{ waiter.first_name }} </td>
                    <td> {{ waiter.last_name }} </td>
                    <td> {{ waiter.phone }} </td>
                </tr>
            {% endfor %}
    </table>
  </div>
</body>
